@page
@model asp_presentacion.Pages.Ventanas.NotasModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Personas</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_presentacion.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_presentacion.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_presentacion.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                    asp-for="@Model.Actual!.Id" />
                <input type="hidden"
                    asp-for="@Model.Actual!.NotaFinal" />
            }
            @if (Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                    asp-for="@Model.Actual!.Estudiante" />
                <input type="hidden"
                    asp-for="@Model.Actual!.Asignatura" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Semestre" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nota1" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nota2" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nota3" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nota4" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nota5" />
                <input type="hidden"
                   asp-for="@Model.Actual!.NotaFinal" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Fecha" />
            }

            @if (Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Casa</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Estudiante
                            </label>
                            <div class="col-lg-6">
                                <select id="nmEstudiante"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Estudiante"
                                        asp-items="@(new SelectList(Model.Estudiantes, "Id", "Nombre"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Asignatura
                            </label>
                            <div class="col-lg-6">
                                <select id="nmAsignatura"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Asignatura"
                                        asp-items="@(new SelectList(Model.Asignaturas, "Id", "Nombre"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Semestre
                            </label>
                            <div class="col-lg-6">
                                <select id="nmSemestre"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Semestre"
                                        asp-items="@(new SelectList(Model.Semestres, "Id", "Descripcion"))">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota 1
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nota1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota 2
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nota2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota 3
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota3"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nota3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota 4
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota4"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nota4" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota 5
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota5"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Nota5" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nota final
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNotaFinal"
                                   disabled
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.NotaFinal" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha
                            </label>
                            <div class="col-lg-6">
                                <input id="nmFecha"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Fecha" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Accion" />
                    @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!._Estudiante!.Nombre,
                                @Model.Actual!._Asignatura!.Nombre,
                                @Model.Actual!._Semestre!.Descripcion
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />
                            <input type="submit"
                               value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_presentacion.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre"
                   class="cts_forms form-control"
                   asp-for="@Model.Filtro!._Estudiante!.Nombre"
                   placeholder="Nombre" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Estudiante
                            </th>
                            <th>
                                Asignatura
                            </th>
                            <th>
                                Semetre
                            </th>
                            <th class="cl_hidden">
                                Nota 1
                            </th>
                            <th class="cl_hidden">
                                Nota 2
                            </th>
                            <th class="cl_hidden">
                                Nota 3
                            </th>
                            <th class="cl_hidden">
                                Nota 4
                            </th>
                            <th class="cl_hidden">
                                Nota 5
                            </th>
                            <th class="cl_hidden">
                                Nota final
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento._Estudiante!.Nombre
                                    </td>
                                    <td>
                                        @elemento._Asignatura!.Nombre
                                    </td>
                                    <td>
                                        @elemento._Semestre!.Descripcion
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota1
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota2
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota3
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota4
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nota5
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.NotaFinal
                                    </td>
                                    <td>
                                        @elemento.Fecha.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        <input type="submit"
                                           value="Modicar"
                                           asp-page-handler="BtModificar"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                           value="Borrar"
                                           asp-page-handler="BtBorrarVal"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>